.NavBar, .Footer{
    background: linear-gradient(to bottom left, lightpink, white, lightpink);
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    border-style:hidden;
    border-radius: 7pt;
    margin:0;
    padding:0;
    overflow:visible;
}
.LinkBar > li {
    display:inline-block;
    justify-content: flex-start;
    padding: 14px;
    text-decoration: none;
}
.LinkBar li a {
    padding: 14px;
}
#md-banner,
.Banner,
.demo-img {
    display:block;
    margin:10px auto;
    width:65%;
}
.md-header {
    display:flex;
    justify-content: center;
}
.contain {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2% 5%;
    margin: 5% 0%;
    min-width: 300px;
}
.md-map,
.md-video {
    display:block;
    margin:auto;
    width: 75%;
}
.arc-content {
    list-style-type: none;
    text-align: left;
}
.content-li {
    text-align: center;
    width:75%;
    display:block;
    margin:0 auto;
}
.nav-drop {
    position: relative;
    display: inline-block;
}
.dropcontent {
    display:none;
    position:absolute;
    background-color: #FFFF;
    min-width:max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropcontent a:hover {
    background-color: gainsboro;
}
.nav-drop:hover .dropcontent {
    display: block;
}
.dropbtn {
    padding:14px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background:linear-gradient(#FFFF, #ffe291);
    padding:2% 5%;
    margin: 2% 3%;
}
a:link,
a:visited {
    color: deeppink;
}
li a:hover {
    background-color: pink;
}
.active {
    background-color:rgba(255, 255, 255, 0.5);
}
.container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:3% 0% 3%;
    padding: 10px;
    justify-content:space-around;
    align-content: space-around;
}
.image {
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: #ffff;
    margin: 2%;
}
.md-header {
    text-decoration: underline;
}
.md-triv li {
    list-style-type:none;
    text-align: center;
    text-indent: 0;
}
p {
    text-indent: 2%;
}
#tragic {
    text-align: center;
}
/* 
* {
    border: solid red;
}
*/